@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    position: relative;
    height: 100vh;  
    background-size: cover;
    background-position: center;
    animation: slide 10s linear infinite; /* Adjust duration as needed */
}
@keyframes slide {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}